/* Dark Theme */
.dark-theme {
  background-color: black;
  color: white;
}

/* Use Operating System theme for the website */
/* @media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
} */

/* Add custom font family */
/* @font-face {
  font-family: "My Custom Font";
  src: url("assets/Inter/static/Inter-Regular.ttf");
} */

body {
  padding: 0 1em;
  max-width: 48rem;
  line-height: 1.2;
  margin-left: auto;
  margin-right: auto;
  font-family: "Libre Baskerville", Libre, Georgia, Times, serif;
  /* font-family: "SF Pro Display", "SF Pro Icons"; */
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: "Helvetica, Arial, sans-serif"; */
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  /* font-family: "Times New Roman", Times, serif; */
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

h1 h2 {
  margin: 24px;
}

figure {
  display: table;
  margin: 8px 16px;
  font-size: 12px;
}

figcaption {
  padding: 4px 0;
  text-align: center;
  caption-side: bottom;
  display: table-caption;
}

a {
  text-decoration: none;
  color: #1a73e8;
}

a:visited {
  text-decoration: none;
  color: none;
}

a:focus {
  text-decoration: none;
  color: blue;
}

a:hover,
a:active {
  text-decoration: underline;
  /* color: lightblue; */
}

li {
  padding: 4px 0;
}

footer {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  height: 30px;
  font-size: 12px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name {
  margin: auto;
  padding: 12px;
  text-align: center;
}

.profile-container {
  width: 100%;
  margin: 2% 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.profile-image {
  height: auto;
  width: 220px;
  min-width: 220px;
  border-radius: 2%;
  padding-right: 24px;
  padding-bottom: 12px;
}

.about-text {
  text-align: justify;
  padding-bottom: 24px;
}

.experience-title {
  font-size: 20px;
  padding: 6px 0;
  font-weight: 600;
}

.company-title {
  font-size: 16px;
  font-weight: 600;
  padding: 12px 0 6px 0; 
}

.education-title {
  padding: 4px 0;
  font-weight: 600;
  font-size: 18px;
}

.role-title {
  padding: 4px 0;
  font-weight: 500;
  font-style: italic;
}

.degree-title {
  padding: 4px 0px;
  font-weight: 400;
  font-size: 17px;
  font-style: italic;
}

.company-images {
  display: flex;
  flex-wrap: wrap;
  padding-left: 24px; 
  /* justify-content: space-between; */
}

.company-image {
  width: 250px;
  border-radius: 2%;
}

.row {
  width: 100%;
  margin: 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 2.5rem;
}

.footer {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.copyright-text {
  min-width: calc(100% - 180px);
}

.last-updated {
  width: -webkit-max-content;
}

.education-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.education-image {
  width: 200px;
  height: auto;
  border-radius: 2%;
}

.education-subtitle {
  padding: 20px 0;
  font-size: 16px;
}

.education-text {
  margin: 0 30px 0 0;
}

.filters-div {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.filter-icon {
  width: 20px;
  height: 18px;
  padding: 4px 6px;
  margin-right: 8px;
  border-radius: 6px;
  background-color: white;
}

.project-title {
  font-size: 18px;
  font-weight: 600;
  padding: 4px 0px 4px 0px;
}

.project-subsection {
  font-size: 14px;
  margin: 8px 0;
}

.project-description {
  padding: 12px 0px 4px 0px;
  text-align: justify;
}

.hr {
  margin: 16px 0;
  opacity: 0.2;
}

.project-ul {
  padding: 0px 16px;
  margin: 0px;
}

.paper-title {
  font-size: 18px;
  padding: 8px 0;
  font-weight: 600;
}

.paper-subsection {
  padding: 8px 0;
}

.paper-authors {
  padding: 8px 0;
}

.theme-icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
  border-radius: 16px;
}

.small-pad {
  padding: 2px 0;
}

.footer-container {
  margin-top: 24px;
}
