.name {
  text-align: center;
}

.body {
  margin: 0 2%;
  font-size: 16px;
}

.about-image {
  width: 100%;
  margin: 2% 0;
  display: flex;
  flex-direction: row;
}

.about-bio {
  padding: 0 24px;
}

.company-title {
  padding: 6px 0;
  font-weight: 600;
}

.education-title {
  padding: 6px 0;
  font-weight: 600;
}

.role-title {
  padding: 4px 0;
  font-weight: 500;
  font-style: italic;
}

.degree-title {
  padding: 8px 0;
  font-weight: 400;
  font-style: italic;
}

.company-images {
  display: flex;
  /* justify-content: space-between; */
}

.company-image {
  width: 300px;
  border-radius: 2%;
}

.profile-image {
  width: 18%;
  height: auto;
  border-radius: 2%;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

figure figcaption {
  text-align: center;
}

a {
  color: blue;
}

a:visited {
  text-decoration: none;
  color: none;
}

a:hover {
  text-decoration: none;
  color: blue;
}

a:focus {
  text-decoration: none;
  color: blue;
}

a:hover,
a:active {
  text-decoration: none;
  color: black;
}
